/* color theme: http://kuler.adobe.com/#themeID/1921635 */
html 
{
    min-height: 100%;
}

body
{
   margin: 0;
   padding: 0;
   color: black;
   font-family: "Gentium Basic", "Fanwood Text", serif;
   background-image: url(/images/patterncooler.com/oriental-wave-and-dot-light.png); 
   background-repeat: repeat;
   height: 100%;
}

a:link 
{
   color: #49604f;
   text-decoration: underline;
}
 
a:visited 
{
   color: #738774;
   text-decoration: underline;
}
 
a:hover 
{
   color: #738774;
   text-decoration: underline;
}
 
/*
a:active 
{
   color: black;
   text-decoration: underline;
} 
*/

h1.title
{
   font-size: 64px;
   font-weight: bold;
   color: #8a947e;
   margin-bottom: 0;
}

.author
{
   font-weight: bold;
}

#main 
{
   width: 600px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 50px;
   padding-bottom: 50px;
   background: #fdfdfb;
   position: absolute;
   left: 0;
   right: 0;
}

#left-column 
{
   width: 33%;
   float: left;
}
 
#right-column 
{
   width: 66%;
   float: right;
   border-left: 4px solid #8a947e;
}

#left-content
{
   text-align: right;
   padding-left: 2em;
   padding-right: 1em;
}

#right-content
{
   padding-left: 1em;
   padding-right: 4em;
}

